@font-face {
    font-family: 'Poppins-bold';
    src: url('../fonts/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-medium';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Abeatbykai';
  src: url('../fonts/ABEAKRG.TTF');
}

@font-face {
    font-family: 'Heebo-bold';
    src: url('../fonts/Heebo-Bold.ttf');
}

@font-face {
    font-family: 'Heebo-medium';
    src: url('../fonts/Heebo-Medium.ttf');
}

@font-face {
    font-family: 'Heebo-regular';
    src: url('../fonts/Heebo-Regular.ttf');
}

@font-face {
    font-family: 'Rubik-bold';
    src: url('../fonts/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Rubik-light';
    src: url('../fonts/Rubik-Light.ttf');
}

@font-face {
    font-family: 'Rubik-medium';
    src: url('../fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-regular';
    src: url('../fonts/Rubik-Regular.ttf');
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FF4471;
    border-radius: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  :root {
    @apply light;
  }
  
  .dark {
    --color-bg-primary: #2A2A2A;
    --color-bg-secondary: #393939; 
    --color-bg-active: #FF4471;
    --color-bg-notactive: #393939;
    --color-bg-carousel: #858585;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #FFFFFF;
  }
  
  .light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #F7F8F9; 
    --color-bg-active: #FFFFFF;
    --color-bg-notactive: #FF4471;
    --color-bg-carousel: #F3F3F3;
    --color-text-primary: #2A2A2A;
    --color-text-secondary: #4a5568;
    --color-text-accent: #FF4471;
  }

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";